{
  "extends":rallycoding,
  "globals": {
        "_": false
    },
  "rules": {
      "arrow-body-style": 0,
      "import/no-extraneous-dependencies": 0,
        "no-underscore-dangle": [
              "error",
              {
                "allow": [
                  "_id",
                  "_checkPassword",
                  "_storagePath",
                  "_debug"
                ]
              }
            ]
        },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  settings: {
    "import/resolver": {'meteor'},
    "import/core-modules": [ "meteor/meteor" ],
    "import/no-extraneous-dependencies": "off",
  },
  "parser": "babel-eslint"
}
